{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Homepage</h1>
{% if user.is_authenticated %}
    <p> Hi {{ user.username }}</p>
    <p><a href="{% url 'account_logout' %}">Log-out</a> </p>
{% else %}
    <p><a href="{% url 'account_signup' %}">Register</a> </p>
    <p><a href="{% url 'account_login' %}">Login</a> </p>
    <p><a href="{% provider_login_url 'google' %}">Google Login</a></p>
{% endif %}
</body>
</html>